{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Recipe{% endblock title %}
{% block css_files %}
{% endblock css_files %}
{% block content %}
<section id="delete" class="container-xxl p-5 bg-dark text-white">
<div class="container mx-auto">
{% include 'includes/messages.html' %}
    <a class="hover:text-primary" href="{% url 'recipe:recipe-list' %}">Go back to recipes</a>
    <div class="card-body">
        <h3>Are you sure you want to delete {{ recipe.title }}?</h3>
    </div>
    <form action="{% url 'recipe:delete-recipe' recipe.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Submit</button>
        <a href="{% url 'recipe:recipe-detail' recipe.pk %}"><input type="submit" class="btn btn-light" value="Cancel"/></a>
    </form>
</div>
</section>
{% endblock %}