{% load static %}  

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} MotoGram {% endblock %}</title>
    <!-- bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--additional css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css_files %}{% endblock %}
  </head>
  <body>
    <!--Haejin's navbar -->
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 fixed-top">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'images/bear.png' %}" alt="" width="30" height="27" class="d-inline-block align-text-top">
            Motogram
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <!-- ms: margin-start -->
                <ul class="navbar-nav ms-auto "> 
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link"><i class="bi bi-house-door-fill"></i></a>
                     </li>
                        <li class="nav-item">
                            <a href="#Post" class="nav-link"><i class="bi bi-cursor-fill"></i></a>
                        </li>
                        <!--Notification Alert-->
                        <li class="nav-item">
                            <a href="#" class="nav-link position-relative"><i class="bi bi-bell-fill"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                </span>
                            </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                {% for notification in  user.notifications.unread %}
                                    <div>
                                    Message from <b>{{ notification.actor }}</b>
                                    <button class="dropdown-item" type="button">{{ notification.description }}</button>			
                                    </div>
                                    <div class="dropdown-divider"></div>
                                {% endfor %}
                            </div>
            
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'recipe' %}" class="nav-link"><i class="bi bi-basket-fill"></i></a>
                        </li>

                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#Profile" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               <i class="bi bi-file-person-fill"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                            </ul>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                            <a class="nav-brand" href="#Profile" style="list-style: none;">Hello, {{ user.username }}</a>
                            </li>
                            {% else %}
                             <li class="nav-item">
                            <a class="nav-brand" href="#Home" style="list-style: none;">Hello Guest user</a>
                            </li>
                            {% endif %}
                        </div>
                        {% comment %} <li class="nav-item">
                            <a href="#Profile" class="nav-link"><i class="bi bi-file-person-fill"></i></a> {% endcomment %}
                            {% comment %} <a href="{% url 'profile' user.id %}" class="nav-link">Profile</a>{% endcomment %}
                        {% comment %} </li> {% endcomment %}
                        
                        {% comment %} <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link"><i class="bi bi-person-x-fill"></i></a>
                        </li> {% endcomment %}
                
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link"><i class="bi bi-person-check-fill"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}" class="nav-link"><i class="bi bi-people-fill"></i></a>
                        </li>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    {% block content %} {% endblock %}
    </div>

    <!-- bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

