{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
    <div class="container">
        <div class="profile">
            <div class="profile-image">
                {% if avatar.url %}
                <img src='{{ avatar.url }}  alt=""'/>
                    {%else%}
                <img src='/../static/images/profile.png/' alt=''/>
                {%endif%}
            </div>
                <div class="profile-user-settings">
                    <div class="profile-user-name"> 
                        <strong>{{request.user.display_name}}</strong>
                        <a href='/user/edit/profile/{{request.user.id}}/' style="text-decoration: none;" class="btn btn-warning shadow-md">Edit Profile</a>
                        {% if user.is_authenticated and request.user%}

                        <a href='/user/explore_users/{{request.user.id}}' style="text-decoration: none;" class="btn btn-warning shadow-md">Explore Users</a>
            
            {%else%}
            Login to <a href='/user/follow/{{profile.id}}/' style="text-decoration: none;" class="btn btn-warning shadow-md"">Follow {{profile.username}}</a>
            {%endif%}
                    </div>
                </div>
            <!-- End of Profile User Settings Section-->
            <div class="profile-stats">
                <ul>
                        <li><span class="profile-stat-count">164</span> Posts</li>
                        <li><span class="profile-stat-count">188</span> Followers</li>
                        <li><span class="profile-stat-count"><a href= '/user/following/all/{{profile.id}}/' style="text-decoration: none;">{{request.user.following.count}} </a></span>Following</li>
                    </ul>
            </div>
            <div class="profile-bio">
                <span class="profile-real-name">
                        <br></br>
                        {{request.user.bio}} 🏕️
                        <br></br>
                        My Trusty Two-Wheeled Steed is a 
                        {{request.user.bike}}
                        <br></br>
                        Catch Me Ridin {{request.user.riding_style}}
                        <br></br>
                        I Ride Like a {{request.user.riding_level}}
                </span>
            </div>
            <!-- End of Profile Section -->
        </div>           
    </div>
    <!-- End of Container -->
</header>
<main>
    {% if user.is_authenticated and request.user%}

    <div class="container">
       <span> <h5><a href ='/user/profile/{{request.user.id}}/'>Back to My Posts</a></h5></span>
        <hr class="gallery-line">
    
        <div class="gallery">
            {% for post in request.user.favorite_posts.all %}
            <a href='/post/post_detail/{{post.id}}'
            <div class="gallery-item">
                <img src="{{MEDIA_URL}}{{ post.picture.url }}" class="gallery-image" alt="Post picture">
                
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {%else %}
    Log into {{request.user.username}}'s Profile to view their saves.
    {%endif%}
</main>
{% endblock %}