{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css_files %}{% endblock %}
{% block content%}

{% if user.is_authenticated %} Hi <a href='/user/profile/{{user.id}}/'>{{ user.username }}</a>!

<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}" style="text-decoration: none;">Log In</a>
</br>
<a href="{% url 'signup' %}" style="text-decoration: none;">Don't have an account? Click here to create one!</a>
{% endif %}
{% endblock %}
