{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %} {{profile.display_name}}'s Profile
{% endblock %}
{% if profile.username == request.user.username%}
<h4>Your Profile</h4>
{% elif user.is_authenticated %}
<a href='/user/follow/{{profile.id}}/'>Follow {{profile.display_name}}</a>
<a href='/user/unfollow/{{profile.id}}/'>Unfollow {{profile.display_name}}</a>
{%else%}
Login to <a href='/user/follow/{{profile.id}}/'>follow {{profile.username}}</a>
{%endif%}

{% if profile.username == request.user.username%}
<p><a href= '/user/following/all/{{profile.id}}/'>Following:{{profile.following.count}} </a></p>


{%endif%}

<br></br>
Username: {{profile.username}}
<br></br>
Bio: {{profile.bio}}
<br></br>
Bike: {{profile.bike}}
<br></br>
Riding Style: {{profile.riding_style}}
<br></br>
Riding Level: {{profile.riding_level}}
<br></br>
<br></br> 

_____________________________
</br>


Favorite Posts:
<div class="row d-flex align-item-center justify-content-center">

    {% for post in profile.favorite_posts.all %}
    <div class="card text-white bg-success mb-3" style="width: 28rem;">
        <img src="{{MEDIA_URL}}{{ post.picture.url }}" class="card-img-top" alt="Post picture">
        <div class="card-body">
            <h5 class="card-title">{{ post.caption }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/user/favorite_post/{{post.id}}/" class="btn btn-warning">add fave</a><span></span><span><a href="/user/unfavorite_post/{{post.id}}/" class="btn btn-warning">remove from faves</a></span>
        </div>
    </div>
    {% endfor %}
</div>


</br>
</br>
_____________________________ 
<br></br>

Favorite Recipes:
<ul>
    {% for recipe in current_user.favorite_recipes.all %}
    <li>
        <a href="/recipe/{{ recipe.id }}/">{{ recipe.title }}</a>
    </li>
    {% endfor %}
</ul>
<a href='/user/edit/profile/{{profile.id}}/'>Edit Profile</a>
{% endblock %}