{% extends "base.html" %} {% load static %} {% block content %}

<header>
    <div class="container">
        <div class="profile">
            <div class="profile-image">
                {% if profile.avatar.url %}
				<img src="{{profile.avatar.url}}" alt="user avatar" />
				{% else %}
				<img src="/media/images/avatar/default.png" alt="default avatar" />
				{% endif %}
            </div>
                <div class="profile-user-settings">
                    <div class="profile-user-name"> 
                        <strong>{{profile.display_name}}</strong>
                        <a href='/user/edit/profile/{{profile.id}}/' style="text-decoration: none;" class="btn btn-warning shadow-md">Edit Profile</a>
                        {% if profile.username == request.user.username %}
                        <a href='/user/explore_users/{{profile.id}}'>Explore Users</a>
                        {% elif user.is_authenticated %}
                        <span><h6><a href='/user/follow/{{profile.id}}/' style="text-decoration: none;" class="btn btn-warning shadow-md"">Follow {{profile.display_name}}</a>
                                <a href='/user/unfollow/{{profile.id}}/' style="text-decoration: none;" class="btn btn-warning shadow-md"">Unfollow {{profile.display_name}}</a></span>
                        {%else%}
                                Login to <a href='/user/follow/{{profile.id}}/' style="text-decoration: none;" class="btn btn-warning shadow-md"">Follow {{profile.username}}</a>
                        {%endif%}
                    </div>
                </div>
            <!-- End of Profile User Settings Section-->
            <div class="profile-stats">
                <ul>
                        <li><span class="profile-stat-count">164</span> Posts</li>
                        <li><span class="profile-stat-count">188</span> Followers</li>
                        <li>
                            <span class="profile-stat-count">
                                <a href= '/user/following/all/{{profile.id}}/' style="text-decoration: none;">
                                    {{profile.following.count}} 
                                </a>
                            </span>Following
                        </li>
                    </ul>
            </div>
            <div class="profile-bio">
                
                <span class="profile-real-name">
                        <br>
                        </br>
                        {{profile.bio}} 🏕️
                        <br>
                        </br>
                        My Trusty Two-Wheeled Steed is a 
                        {{profile.bike}}
                        <br>
                        </br>
                        Catch Me Ridin {{profile.riding_style}}
                        <br>
                        </br>
                        I Ride Like a {{profile.riding_level}}
                </span>
            </div>
            <!-- End of Profile Section -->
        </div>           
    </div>
    <!-- End of Container -->
</header>
<main>
    
    <div class="container">
        {% if profile.username == request.user.username %}
       <span class="profile_tab"> <h5><a href ='/user/favorites/all/{{profile.id}}/'>Saved Posts</a></h5></span>
       <span> <h5><a href ='/user/profile/{{profile.id}}/'>My Posts</a></h5></span>
        <hr class="gallery-line">
        {%endif%}
        <div class="gallery">
            {% for post in posts %}
            <a href='/post/post_detail/{{post.id}}/'>
            <div class="gallery-item">
                <img src="{{MEDIA_URL}}{{ post.picture.url }}" class="gallery-image" alt="Post picture">
                
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
                    </ul>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
