{% extends 'base.html' %} 
{% load static %} 
{% block title %}Notification{% endblock %} 
{% block css_files %}
{% endblock css_files %} 
{% block content %}
<div class="container text-center">
	{% include "includes/messages.html" %}
	{% if request.user.is_authenticated %} 
	{% if not notification.read %}
	<h6>You have <strong>{{notification.count}}</strong>unread notifications</h6>
	{% endif %} {% comment %} <a href="javascript:history.go(-1)">⌛ Refresh</a> {% endcomment %} {% if notifications %}
	<div class="collapse">
		<p>
			<button
				class="btn btn-primary"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseExample"
				aria-expanded="false"
				aria-controls="collapseExample"
			>
				Here is your new notification
			</button>
		</p>
		<div class='card-body bg-dark text-white'>
		{% for notification in notifications %}
		<div class="card card-body">text: {{notification.post.post_to_notify}}</div>
		<a href="/post/{{notification.post.id}}">
			<div class="card card-body">sent by: {{notification.post.receiver}} ({{notification.post.date_created}})</div>
		</a>
	</div>
	{% endfor %} 
	</div>
	{% else %}
	<p>There is no notifications</p>
	{% endif %} 
	{% endif %}
</div>
{% endblock %}
